<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <title>Stock Market</title>
    <script src="
https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js
"></script>
</head>
<body>
<div class="wrapper">
    <header>
        <h2>Stock Market Range</h2>
        <p>Move the slider or type the minimum and maximum years</p>
    </header>
    <div class="price-input">
        <div class="field">
        <span>Min</span>
        <input type="number" class="input-min" value="2011">
        </div>
        <div class="separator">-</div>
        <div class="field">
        <span>Max</span>
        <input type="number" class="input-max" value="2023">
        </div>
    </div>
    <div class="slider">
        <div class="progress"></div>
    </div>
    <div class="range-input">
        <input type="range" class="range-min" min="2011" max="2023" value="2011" step="1">
        <input type="range" class="range-max" min="2011" max="2023" value="2023" step="1">

    </div>
</div>

    <script>
    const rangeInput = document.querySelectorAll(".range-input input");
    priceInput = document.querySelectorAll(".price-input input")
    progress = document.querySelector(".slider .progress");
    let priceGap = 1;
    priceInput.forEach(input => {
        input.addEventListener("input", e => {
            let minVal = parseInt(priceInput[0].value),
            maxVal = parseInt(priceInput[1].value);

            if((maxVal - minVal >= priceGap) && maxVal <=2023  &&minVal>=2011){
                if(e.target.className == "input-min"){
                    rangeInput[0].value = minVal;
                    progress.style.left = ( (minVal-2011)/(2023 - 2011) ) *100 + "%";
                }
                else{
                    rangeInput[1].value = maxVal;
                    progress.style.right = 100 - ( (maxVal-2011)/(2023 - 2011) ) *100 + "%";
                }
            }

        });
    });
    rangeInput.forEach(input => {
        input.addEventListener("input", e => {
            let minVal = parseInt(rangeInput[0].value),
            maxVal = parseInt(rangeInput[1].value);

            if(maxVal - minVal < priceGap){
                if(e.target.className == "range-min"){
                    rangeInput[0].value = maxVal - priceGap;
                }
                else{
                    rangeInput[1].value = minVal + priceGap;
                }
            }
            else{
                priceInput[0].value = minVal;
                priceInput[1].value = maxVal;
                progress.style.left = ( (minVal-2011)/(2023 - 2011) ) *100 + "%";
                progress.style.right = 100 - ( (maxVal-2011)/(2023 - 2011) ) *100 + "%";
            }

        });
    });

</script>

    <canvas id="lineChart" width="900" height="400"></canvas>
    <script>
        var ctx = document.getElementById("lineChart").getContext("2d");
        var lineChart = new Chart(ctx, {
            type:"line",
            data: {
                labels: {{labels | safe}},
                datasets: [
                    {
                        label:"NASDAQ",
                        data: {{ ndaq | safe}},
                        fill: false,
                        borderColor: "rgb(255,0,0)",
                        lineTension: 0.5
                    },
                    {
                        label:"Corn",
                        data: {{ corn | safe}},
                        fill: false,
                        borderColor: "rgb(0,255,0)",
                        lineTension: 0.5
                    },
                    {
                        label:"Gasoline",
                        data: {{ gasoline | safe}},
                        fill: false,
                        borderColor: "rgb(0,0,255)",
                        lineTension: 0.5
                    }
                ]
            },
            options: {
    responsive: false,
    plugins: {
      title: {
        display: true,
        text: 'Stock Price Change over Time',
      },

    },
    interaction: {
      intersect: false,
    },
    scales: {
      x: {
        display: true,
        title: {
          display: true,
          text: 'Date'
        }
      },
      y: {
        display: true,
        title: {
          display: true,
          text: 'Currency in USD'
        },

      }
    }
  },

});
    </script>
    <div>
        <table>
            <tr>
                <th>Stock Name</th>
                <th>Estimated Price</th>
            </tr>
            <tr>
                <td>Nasdaq</td>
                <td>{{ estimated_ndaq}}</td>
            </tr>
            <tr>
                <td>Corn</td>
                <td>{{ estimated_corn}}</td>
            </tr>
            <tr>
                <td>Gasoline</td>
                <td>{{ estimated_gasoline}}</td>
            </tr>
        </table>
    </div>
</body>
</html>